body {
    background-image: url(../../images/stripes.jpg);
    background-size: cover;
}
.container{
    background-color: #002b5c;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
}

.container img {
   max-height: 250px;
   max-width: 250px;
   margin: 1rem 0;
   margin-bottom: 2rem;
}

.aboutme {
    width: 50%;
}
